{% load static %}
<html lang="en">

	
   <head>
		<meta charset="utf-8">	
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="IIITD">
		<meta name="author" content="IIITD">		
		<title>Cognitrix - IIITD E learning Platform</title>
		
		<!-- Favicon Icon -->
		{% comment %} <link rel="icon" type="image/png" href="images/fav.png"> {% endcomment %}
		
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href="{% static 'home/vendor/unicons-2.0.1/css/unicons.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/vertical-responsive-menu.min.css.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/night-mode.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/night-mode.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/vertical-responsive-menu1.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/instructor-dashboard.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/instructor-responsive.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/datepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/jquery-steps.css' %}" rel="stylesheet">
		<link href="{% static 'home/css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="{% static 'home/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'home/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/vendor/bootstrap-select/docs/docs/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
		<link href="{% static 'home/vendor/semantic/semantic.min.css' %}" rel="stylesheet">
		
        {% block css %}{% endblock css %}
	</head>

<body>
		<!-- Header Start -->
		<header class="header clearfix">
			<button type="button" id="toggleMenu" class="toggle_menu">
			<i class='uil uil-bars'></i>
			</button>
			<button id="collapse_menu" class="collapse_menu">
				<i class="uil uil-bars collapse_menu--icon " style="padding-top:17px;"></i>
				<span class="collapse_menu--label"></span>
			</button>
			<div class="main_logo" id="logo">
				<a href="{% url 'home:index' %}"><img src="{% static 'home/images/logo.svg' %}" alt=""></a>
				<a href="{% url 'home:index' %}"><img class="logo-inverse" src="{% static 'home/images/ct_logo.svg' %}" alt=""></a>
			</div>
			<div class="search120">
				<div class="ui search">
				<div class="ui left icon input swdh10">
					<input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
					<i class='uil uil-search-alt icon icon1'></i>
				</div>
				</div>
			</div>
			<div class="header_right">
				<ul>
					<li>
						<a href="{% url 'home:student_dashboard' %}" class="upload_btn" title="Create New Course">Go To Dashboard</a>
					</li>
					<li>
						<a href="shopping_cart.html" class="option_links" title="cart"><i class='uil uil-shopping-cart-alt'></i><span class="noti_count">2</span></a>
					</li>
					<li class="dropdown-msg">
						<a href="#" class="option_links" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class='uil uil-envelope-alt'></i><span class="noti_count">3</span></a>
						<div class="dropdown-menu dropdown_ms drop-down">
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-6.jpg' %}" alt="">
									
									<div class="pd_content">
										<h6>Zoena Singh</h6>
										<p>Hi! Sir, How are you. I ask you one thing please explain it this video price.</p>
										<span class="nm_time">2 min ago</span>
									</div>							
								</div>							
							</a>
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-5.jpg' %}" alt="">
									<div class="pd_content">
										<h6>Joy Dua</h6>
										<p>Hello, I paid you video tutorial but did not play error 404.</p>
										<span class="nm_time">10 min ago</span>
									</div>							
								</div>							
							</a>
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-8.jpg' %}" alt="">
									<div class="pd_content">
										<h6>Jass</h6>
										<p>Thanks Sir, Such a nice video.</p>
										<span class="nm_time">25 min ago</span>
									</div>							
								</div>							
							</a>
							<a class="vbm_btn" href="instructor_messages.html">View All <i class='uil uil-arrow-right'></i></a>
						</div>
					</li>
					<li class="dropdown-noti">
						<a href="#" class="option_links" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
						<div class="dropdown-menu dropdown_mn drop-down">
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-1.jpg' %}" alt="">
									<div class="pd_content">
										<h6>Rock William</h6>
										<p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
										<span class="nm_time">2 min ago</span>
									</div>							
								</div>							
							</a>
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-2.jpg' %}" alt="">
									<div class="pd_content">
										<h6>Jassica Smith</h6>
										<p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
										<span class="nm_time">12 min ago</span>
									</div>							
								</div>							
							</a>
							<a href="#" class="channel_my item">
								<div class="profile_link">
									<img src="{% static 'home/images/left-imgs/img-9.jpg' %}" alt="">
									<div class="pd_content">
										<p> Your Membership Approved <strong>Upload Video</strong>.</p>
										<span class="nm_time">20 min ago</span>
									</div>							
								</div>							
							</a>
							<a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
						</div>
					</li>
					<li class="profile-dropdown">
						<a href="#" class="opts_account" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
							<img src="{% static 'home/images/hd_dp.jpg' %}" alt="">
						</a>
						<div class="dropdown-menu dropdown_account drop-down dropdown-menu-end">
							<div class="channel_my">
								<div class="profile_link">
									<img src="{% static 'home/images/hd_dp.jpg' %}" alt="">
									<div class="pd_content">
										<div class="rhte85">
											<h6>Joginder Singh</h6>
											<div class="mef78" title="Verify">
												<i class='uil uil-check-circle'></i>
											</div>
										</div>
										<span>gambol943@gmail.com</span>
									</div>							
								</div>
								<a href="my_instructor_profile_view.html" class="dp_link_12">View Instructor Profile</a>						
							</div>
							<div class="night_mode_switch__btn">
								<a href="#" id="night-mode" class="btn-night-mode">
									<i class="uil uil-moon"></i> Night mode
									<span class="btn-night-mode-switch">
										<span class="uk-switch-button"></span>
									</span>
								</a>
							</div>
							<a href="{% url 'home:instructor_dashboard' %}" class="item channel_item">Cursus dashboard</a>						
							<a href="membership.html" class="item channel_item">Paid Memberships</a>
							<a href="setting.html" class="item channel_item">Setting</a>
							<a href="help.html" class="item channel_item">Help</a>
							<a href="feedback.html" class="item channel_item">Send Feedback</a>
							<a href="{% url 'home:login' %}" class="item channel_item">Sign Out</a>
						</div>
					</li>
				</ul>
			</div>
		</header>
		<!-- Header End -->
		<!-- Left Sidebar Start -->
		<nav class="vertical_nav">
			<div class="left_section menu_left" id="js-menu" >
				<div class="left_section">
					<ul>
						<li class="menu--item">
							<a href="index-2.html" class="menu--link" title="Home">
								<i class='uil uil-home-alt menu--icon'></i>
								<span class="menu--label">Home</span>
							</a>
						</li>
						<li class="menu--item">
							<a href="index-2.html" class="menu--link" title="Home">
								<i class='uil uil-home-alt menu--icon'></i>
								<span class="menu--label">All Courses</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="left_section">
					<h6 class="left_title">UTILITIES</h6>
					<ul>
						<li class="menu--item">
							<a href="{% url 'home:student_dashboard' %}" class="menu--link" title="Browse Instructors">
							<i class='uil uil-plus-circle menu--icon'></i>
							<span class="menu--label">Go to Dashboard</span>
							</a>
						</li>
						<li class="menu--item">
							<a href="{% url 'home:student_dashboard' %}" class="menu--link" title="Browse Instructors">
							<i class='uil uil-plus-circle menu--icon'></i>
							<span class="menu--label">LeaderBoard</span>
							</a>
						</li>
						<li class="menu--item">
							<a href="{% url 'home:student_dashboard' %}" class="menu--link" title="Browse Instructors">
							<i class='uil uil-plus-circle menu--icon'></i>
							<span class="menu--label">Enrolled Courses</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="left_section pt-2">
					<ul>
						<li class="menu--item">
							<a href="{% url 'home:sign_up' %}" class="menu--link" title="Setting">
								<i class='uil uil-cog menu--icon'></i>
								<span class="menu--label">Signup</span>
							</a>
						</li>
						<li class="menu--item">
							<a href="{% url 'home:about_us' %}" class="menu--link" title="Setting">
								<i class='uil uil-cog menu--icon'></i>
								<span class="menu--label">About</span>
							</a>
						</li>
						<li class="menu--item">
							<a href="{% url 'home:contact_us' %}" class="menu--link" title="Setting">
								<i class='uil uil-cog menu--icon'></i>
								<span class="menu--label">Contact Us</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="left_footer">
					<ul>
						<li><a href="{% url 'home:about_us' %}">About</a></li>
						<li><a href="{% url 'home:contact_us' %}">Contact Us</a></li>
						<li><a href="{% url 'home:sign_up' %}">Signup</a></li>
					</ul>
					<div class="left_footer_content">
						<p>© 2024 <strong>Cognitrix</strong>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</nav>
		<!-- Left Sidebar End -->
{% block body %}{% endblock body %}

    <script src="{% static 'home/js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'home/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'home/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'home/vendor/bootstrap-select/docs/docs/dist/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'home/js/custom.js' %}"></script>	
	<script src="{% static 'home/js/night-mode.js' %}"></script>
    {% block script %}{% endblock script %}
</body>

</html>